.wrapperMain {
  .section {
    &__heading {
      margin: 40px 0 30px;
      a {
        width: 70%;
        margin: 0 auto;
        display: block;
      }
      h2 {
        background: #008848;
        padding: 8px 15px 10px;
        border-radius: 50px;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
      }
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
    }
    &__btnMore {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      a {
        padding: 10px 30px;
        border-radius: 4px;
        background: #ffffff;
        color: #008848;
        border: 1px solid #008848;
        font-size: 13px;
      }
    }
  }
}