body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Quicksand', sans-serif;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

ul, p, h1, h2, h3, h4, h5, h6, button {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

@keyframes fadeIn {
  0% {
      display: none;
      opacity: 0;
  }
  1% {
      display: block;
  }
  100% {
      display: block;
      opacity: 1;
  }
}